@using Outputer.Choicing

<div class="mb-2">
    <input type="text" @bind="@filterValue" @oninput="Filter" />
</div>

<div>
    @foreach (var option in @filteredOptions)
    {
        <div role="option">
            <button class="btn btn-primary" @onclick="(args) => OptionSelected(args, option.Index)">@option.Value</button>
        </div>
    }
</div>

@code {
    [Parameter]
    public Choices Choices { get; set; } = new Choices();

    [Parameter]
    public EventCallback<int> OnOptionSelected { get; set; }

    private async Task OptionSelected(MouseEventArgs e, int index)
    {
        await OnOptionSelected.InvokeAsync(index);
    }

    private string filterValue = string.Empty;

    private IEnumerable<IndexedOption> filteredOptions = new List<IndexedOption>();

    private void Filter(ChangeEventArgs e)
    {
        filterValue = e.Value.ToString();
        if (filterValue.Length < 3)
        {
            filteredOptions = new List<IndexedOption>();
            return;
        }

        filteredOptions = Choices.Options
            .Where(indexedOption => indexedOption.Value.Contains(filterValue));
    }
}
