@using LaMision.Core

@if (Interaction is null || !Interaction.HasChoices || Interaction.Choices.IsEmpty)
{
    <div role="option">
        <button class="btn btn-primary" @onclick="(args) => OptionSelected(args)">Continuar</button>
    </div>
}
else
{
    <ChoiceSelector Choices="@Interaction.Choices" OnOptionSelected="@OnOptionSelected" />
}

@code {
    [Parameter]
    public GameInteraction? Interaction { get; set; } = null;

    [Parameter]
    public EventCallback OnContinue { get; set; }

    [Parameter]
    public Action<int> OnOptionSelected { get; set; } = (index) => {};

    private async Task OptionSelected(MouseEventArgs e)
    {
        await OnContinue.InvokeAsync();
    }
}
