@page "/counter"
@using LaMision.Core

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

@for(int i=0; i<10; i++)
{
    <button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
}

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        var calculator = new Calculator();
        currentCount = calculator.Sum(currentCount, 1);
    }
}
